<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="catalogue" href="/tabs/catalogue">
      <ion-icon aria-hidden="true" name="book"></ion-icon>  <!-- Icône pour Catalogue -->
      <ion-label>Catalogue</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="commande" href="/tabs/commande">
      <ion-icon aria-hidden="true" name="cart"></ion-icon>  <!-- Icône pour Commande -->
      <ion-label>Commande</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profil" href="/tabs/profil">
      <ion-icon aria-hidden="true" name="person"></ion-icon>  <!-- Icône pour Profil -->
      <ion-label>Profil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
