<ion-card>
  <ion-card-header>
    <ion-card-title>Virement</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-toggle [disabled]="disabled" class="ion-margin" [(ngModel)]="commande.status">Virement reçu</ion-toggle>
    <ion-item lines="none" *ngIf="!commande.status">
      <ion-input [disabled]="disabled" class="ion-margin-vertical" label="Entrer la raison" label-placement="floating" fill="outline" placeholder="Enter text"
                 [(ngModel)]="commande.commentaire">
      </ion-input>
    </ion-item>
    <ion-button *ngIf="!disabled" class="ion-margin" fill="solid" (click)="validerCommande()">Valider</ion-button>
  </ion-card-content>
</ion-card>
