<ion-card>
  <ion-card-header>
    <ion-card-title>Disponibilité</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-radio-group [(ngModel)]="availability">
        <ion-item>
          <ion-radio value="not-available">Pas disponible</ion-radio>
        </ion-item>
        <ion-item>
          <ion-radio value="available-now">Disponible immédiatement</ion-radio>
        </ion-item>
        <ion-item>
          <ion-radio value="available-later">Disponible ultérieurement</ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
    <ion-item *ngIf="availability === 'available-later'">
      <ion-datetime display-format="DD/MM/YYYY" [(ngModel)]="selectedDate"></ion-datetime>
    </ion-item>
  </ion-card-content>
  <ion-button fill="solid" class="ion-padding">Envoyer</ion-button>
</ion-card>




