<div style="padding-top: 1em;">
    <ion-title>
      <ion-icon name="business-outline" ></ion-icon>
      {{ nameSite }}
    </ion-title>
<ion-toolbar>
  <ion-item lines="none">
    <ion-list>
      <ion-item lines="none">
        <ion-select aria-label="filtre" interface="action-sheet" placeholder="Filter">
          <ion-select-option value="client">Client</ion-select-option>
          <ion-select-option value="meuble">Meuble</ion-select-option>
          <ion-select-option value="commande">Ref commande</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-searchbar color="primary" placeholder="Rechercher"></ion-searchbar>
  </ion-item>
</ion-toolbar>
</div>
