<ion-card>
  <ion-card-header>
    <ion-card-title>Login</ion-card-title>
    <ion-card-subtitle>Re-bonjour !</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <ion-list>

      <ion-item>
        <ion-input type="email" [(ngModel)]="email" label="email" placeholder="xx@xx.com"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="password" [(ngModel)]="password" label="password" placeholder="password" ></ion-input>
      </ion-item>

      <ion-button expand="block" (click)="login()">Confirm</ion-button>

    </ion-list>
  </ion-card-content>
</ion-card>
