<ion-card>
  <ion-card-header>
    <ion-card-title>Bonjour !</ion-card-title>
    <ion-card-subtitle>Connectez-vous à votre compte.</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <ion-list>
        <div slot="label"><p  class="input_text">Email</p>
          <ion-input label-placement="floating" fill="outline" type="email" [(ngModel)]="email" label="email" placeholder="xx@xx.com"></ion-input>
        </div>
      <div slot="label"><p class="input_text" >Password</p>
        <ion-input label-placement="floating" fill="outline" type="password" [(ngModel)]="password" label="password" placeholder="password" ></ion-input>
      </div>
      <ion-button expand="block" (click)="login()">Confirm</ion-button>

    </ion-list>
  </ion-card-content>
</ion-card>
