<ion-card class="ion-margin-bottom">
  <ion-card-header>
    <ion-card-title>Disponibilité</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-radio-group [disabled]="disabled" [(ngModel)]="commande.availability">
        <ion-item>
          <ion-radio [disabled]="disabled" value="pas disponible"><ion-card-subtitle>Pas disponible</ion-card-subtitle></ion-radio>
        </ion-item>
        <ion-item>
          <ion-radio [disabled]="disabled" value="disponible immediatement"><ion-card-subtitle>Disponible immédiatement</ion-card-subtitle></ion-radio>
        </ion-item>
        <ion-item>
          <ion-radio [disabled]="disabled" value="disponible ulterieurement"><ion-card-subtitle>Disponible ultérieurement</ion-card-subtitle></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
    <ion-item *ngIf="commande.availability === 'disponible ulterieurement'">
      <ion-datetime [disabled]="disabled" display-format="DD/MM/YYYY" [(ngModel)]="commande.selectedDate"></ion-datetime>
    </ion-item>

    <ion-button *ngIf="!disabled" fill="solid" class="ion-margin" (click)="validerCommande()">À valider</ion-button>
  </ion-card-content>
</ion-card>




