<ion-header class="ion-no-border " [translucent]="true">
  <ion-item lines="none" >
    <div slot="start">
      <ion-icon class="ion-margin" size="large" (click)="back()" name="arrow-back-outline"></ion-icon>
    </div>
    <ion-title class="ion-margin" slot="end">Détail de l'article</ion-title>
  </ion-item>
</ion-header>

<ion-content *ngIf="isLoading; else content">
  <!-- Affichage du spinner pendant le chargement -->
  <ion-spinner name="crescent"></ion-spinner>
</ion-content>

<ng-template  #content>
  <ion-content [fullscreen]="true" class="ion-padding">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          {{ this.item.name }}
        </ion-card-title>
      </ion-card-header>
      <ion-card-content style="display: flex; justify-items: center; align-items: center; flex-direction: column">
        <img style="width: 200px;" alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
        <ion-card-subtitle>
          <ion-icon class="ion-margin-horizontal" name="cash-outline" size="small"></ion-icon> Prix : {{ this.item.price}}.0€
        </ion-card-subtitle>
        <ion-card-subtitle >
          <ion-icon class="ion-margin-horizontal" name="clipboard-outline" size="small"></ion-icon>
          Description
        </ion-card-subtitle>
        <p>{{ this.item.desc}}</p>

      </ion-card-content>
    </ion-card>
  </ion-content>
  <ion-fab slot="fixed" style="margin-bottom: 5em" vertical="bottom" horizontal="center">
    <app-button-validate [content]="'Commander !'" class="button-validate" [routerLink]="['/catalogue/', 'commander-article', item.id]">
      <ion-icon name="cart-outline" size="small"></ion-icon> Commander
    </app-button-validate>
  </ion-fab>
</ng-template>
