<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>article-info</ion-title>
  </ion-toolbar>
  <ion-item [button]="true" (click)="back()">
    <ion-icon name="arrow-back-outline"></ion-icon>Back
  </ion-item>
</ion-header>

<ion-content color="light" class="ion-padding">
  <ion-thumbnail>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
  </ion-thumbnail>
  <ion-title>{{ item.nom }}</ion-title>
  <ion-card-subtitle>Prix : {{ item.price}}</ion-card-subtitle>
  <h2>Description</h2>
  <p>{{ item.desc}}</p>
  <app-button-validate [content]="'Commander !'" class="button-validate" [routerLink]="['/catalogue/', 'commander-article', item.id]"></app-button-validate>
</ion-content>
