<ion-card>
  <ion-card-header>
    <ion-card-title>Packaging/configuration prête </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-radio-group [disabled]="disabled" [(ngModel)]="commande.readyForPackaging">
      <ion-radio class="ion-margin-vertical" value="true">Oui</ion-radio><br />
      <ion-radio value="false">Non</ion-radio><br />
    </ion-radio-group>
    <ion-button *ngIf="!disabled" fill="solid" class="ion-padding" (click)="validerCommande()" >Envoyer</ion-button>
  </ion-card-content>
</ion-card>
