<ion-header [translucent]="true">
  <app-header-search [title]="'Commande'"/>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">commande</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-segment value="default">
    <ion-segment-button value="default">
      <ion-label>Gérer les commandes</ion-label>
    </ion-segment-button>
    <ion-segment-button value="segment">
      <ion-label>Suivi des commandes</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-content>
