<ion-header [translucent]="true">
  <app-header-search [title]="'Commande'"></app-header-search>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-segment [(ngModel)]="selectedSegment" (ionChange)="changeTypeCommande()">
    <ion-segment-button value="gerer">
      <ion-item class="custom-item">
        <ion-label><p>Gérer les commandes</p></ion-label>
        <ion-badge color="primary">{{ nbCommandeGerer }}</ion-badge>
      </ion-item>
    </ion-segment-button>
    <ion-segment-button value="suivi">
      <ion-item class="custom-item">
        <ion-label><p>Suivi des commandes</p></ion-label>
        <ion-badge color="primary">{{ nbCommandeSuivi }}</ion-badge>
      </ion-item>
    </ion-segment-button>
  </ion-segment>

  <ng-container *ngIf="selectedSegment === 'gerer'">
    <ion-header>
      <ion-toolbar>
        <app-row-chips-filter (filterChanged)="onFilterChanged($event)"></app-row-chips-filter>
      </ion-toolbar>
    </ion-header>
      <app-row-commande [commandes]="commandesFiltreEtape" ></app-row-commande>
  </ng-container>

  <ng-container *ngIf="selectedSegment === 'suivi'">
    <app-row-commande [commandes]="commandesSuivi" ></app-row-commande>

  </ng-container>
</ion-content>

