<ion-header class="ion-no-border">
  <app-header-search [title]="'Commande'"></app-header-search>
</ion-header>
<ion-content class="ion-no-border" >
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-segment [scrollable]="true" [(ngModel)]="selectedSegment" (ionChange)="refreshCommandes()">
    <ion-segment-button value="gerer">
      <ion-item class="custom-item">
        <ion-label>Gérer</ion-label>
        <ion-badge color="primary">{{ nbCommandeGerer }}</ion-badge>
      </ion-item>
    </ion-segment-button>
    <ion-segment-button value="suivi">
      <ion-item class="custom-item">
        <ion-label>Suivre</ion-label>
        <ion-badge color="primary">{{ nbCommandeSuivi }}</ion-badge>
      </ion-item>
    </ion-segment-button>
  </ion-segment>

  <ng-container *ngIf="selectedSegment === 'gerer'">
    <ion-header  class="ion-no-border with-bottom-border">
      <ion-toolbar  >
        <app-row-chips-filter (filterChanged)="onFilterChanged($event)"></app-row-chips-filter>
      </ion-toolbar>
    </ion-header>
      <app-row-commande [commandes]="commandesFiltreEtape" ></app-row-commande>
  </ng-container>

  <ng-container *ngIf="selectedSegment === 'suivi'">
    <app-row-commande  [commandes]="commandesSuivi" ></app-row-commande>

  </ng-container>

</ion-content>

