

/* Material Design styles */
ion-segment-button.md {
  --color: var(--ion-color-medium-tint) ;
  --color-checked: var(--ion-color-light-contrast);
  --indicator-height: 3px;
}

ion-segment {
  padding: 1em;
}




