/* Variables */

ion-header {
  --background: #f8f9fa;
  border-bottom: 1px solid #ccc; /* Ajoute une bordure en bas */
}

ion-content {
  /* Spinner styling (loading state) */
  ion-spinner {
    display: block;
    margin: 40vh auto;
    width: 50px;
    height: 50px;
  }
}

ion-card, .card-ios, .card-md {
  border: 0 !important;
  box-shadow: none !important;
  border: none !important;
  border-style: none !important;
  border: 1px solid lightgrey !important;
}

ion-card-title {
  display: flex; align-self: center; justify-content: center;
}
ion-card-subtitle{
  display: flex; align-self: start; margin-bottom: 1em; margin-top: 1em;
}
