<ion-header class="ion-no-border " [translucent]="true">
  <ion-item lines="none" >
    <div slot="start">
      <ion-icon class="ion-margin" size="large" (click)="back()" name="close-outline"></ion-icon>
    </div>
    <ion-title class="ion-margin" slot="end">Commander l'article</ion-title>
  </ion-item>
</ion-header>

<ion-content [fullscreen]="false">
  <ion-item button *ngIf=" this.etape > 1 && this.etape < 3" (click)="retour()"><ion-icon name="arrow-back-outline"></ion-icon>Revenir</ion-item>

  <div *ngIf=" this.etape == 1">
    <!-- Formulaire pour ajouter un client -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Informations clients</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item lines="none">
          <ion-input label="Nom client" placeholder="Nom prénom" [(ngModel)]="client.nom"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-input
            class="no-border"
            type="email"
            label="Email"
            errorText="Invalide Mail"
            placeholder="client@domaine.com"
            [(ngModel)]="client.mail"
          ></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-input label="Numéro de Télephone" type="tel" placeholder="888-888-8888" [(ngModel)]="client.tel"></ion-input>
        </ion-item>

      </ion-card-content>
    </ion-card>
    <ion-fab style="margin-bottom: 5em" slot="fixed" vertical="bottom" horizontal="center">
      <ion-button (click)="isInfoClientOk()">Valider</ion-button>
    </ion-fab>
  </div>

  <div *ngIf="this.etape == 2">
    <!-- Ajouter une adresse de livraison et une destination-->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Adresse de livraison</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label>Site de présence physique</ion-label>
          <ion-select [(ngModel)]="place1" fill="outline" interface="action-sheet" placeholder="Selectionner">
            <ion-select-option *ngFor="let s of this.Sites" value="{{s}}">{{ s }}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Site de livraison</ion-label>
          <ion-select [(ngModel)]="place2" fill="outline" interface="action-sheet" placeholder="Selectionner">
            <ion-select-option *ngFor="let s of this.Sites" value="{{s}}">{{ s }}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Ajouter un commentaire</ion-label>
          <ion-input [(ngModel)]="this.comm" placeholder="Ajoutez un commentaire pour donner des précisions sur la livraison"></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>
      <ion-fab style="margin-bottom: 5em" slot="fixed" vertical="bottom" horizontal="center">
        <ion-button (click)="isInfoLivraisonOk()">Enregistrer</ion-button>
      </ion-fab>
  </div>

  <div *ngIf="this.etape == 3">
    <!-- Infos de la commande avec confirmation -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Récapitulatif de commande</ion-card-title>
      </ion-card-header>
      <ion-card-content>

        <ion-card>
          <ion-card-header>
            <ion-card-title>Article commandé</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <app-article [article]="this.Article"></app-article>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title>Adresses de livraison</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{this.Commande.sitePresence}} -> {{this.Commande.siteLivraison}}
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title>Infos client:</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div>{{this.client.nom}}</div>
            <div>Mail : {{this.client.mail}}</div>
            <div>Tel : {{ this.client.tel }}</div>
          </ion-card-content>
        </ion-card>
      </ion-card-content>
    </ion-card>
    <ion-fab style="margin-bottom: 5em" slot="fixed" vertical="bottom" horizontal="center">
      <ion-button (click)="completeCommande()" [routerLink]="['/']">Confirmer la commande</ion-button>
    </ion-fab>
  </div>


  <ion-toast
    [isOpen]="isToastOpen"
    message="Veuillez entrer des informations valides"
    [duration]="3000"
    (didDismiss)="setOpenToast(false)"
    position="middle"
  ></ion-toast>

</ion-content>
